* {
  font-family: 'Poppins';
  font-size: 1.3rem;
}

body {
  padding: 60px;
}

input {
  border-radius: 4px;
  border: none;
  box-shadow: 5px 10px 10px rgba(73, 73, 73, 0.14),.2px 3px 3px rgba(0,0,0,0.18);
  color: rgb(146, 146, 146);
  font-size: 1rem;
  padding: 1%;
  width: 100%;
}

input:hover, input:focus {
  box-shadow: 10px 10px 20px rgba(0,0,0,0.14),0 6px 6px rgba(0,0,0,0.18);
  
}

hr {
  margin-top: 5%;
}

li {
  font-size: .8em;
}

p {
  font-size: .4em;
}

h2 {
  color: tomato;
  font-size: 1.6em;
}

h3 {
  padding-left: 15%;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;

}

.card {
  align-content: center;
  border-radius: 4px;
  /* border: 1px solid #ccc; */
  height:300px;
  margin:15px;
  overflow: hidden;
  transition-duration: 500ms;
  width: 278px;
  box-shadow: 5px 10px 10px rgba(73, 73, 73, 0.14),0 3px 3px rgba(0,0,0,0.18);
}

.card:hover {
  box-shadow: 10px 10px 20px rgba(0,0,0,0.14),0 6px 6px rgba(0,0,0,0.18);
  transition-duration: 500ms;
}

.card p {
  font-size: 1rem;
  margin: 0;
  padding-top: 3%;
  text-align: center;
  width: 278px;
}

.card img {
  height: 200px;
  width: 100%;
}



.loading {
  font-size: 1.3rem;
}